* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: indianred;
}

/* nav, footer {
    background-color: royalblue;
} */
nav form {
    position: relative;
}

nav form input {
    margin-top: 21px;
    padding: 6px;
    border-radius: 25px;
    border: none;
}

nav form button {
    margin-top: 21px;
    padding: 6px;
    border-radius: 25px;
    border: none;
}

nav form  i {
    width: 25px;
    height: 25px;
    font-size: 17px;
    position: absolute;
    top: 0;
    right: 90px;
    padding-top: 32px;
    padding-left: 6px;
}

.cards {
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    border: 2px solid red;
    width: 400px;
    margin-top: 65px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-header img {
    height: 250px;
    width: 250px;
    margin-top: 5px;
}

.card-header i {
    font-size: 20px;
    margin-left: 8px;
}

.card-header p {
    top: 3px;
    position: absolute;
    left: 9px;
    font-size: 11px;
    border: 1px solid;
    padding: 3px;
}
.card-header .yazi span{
    position: absolute;
    color: white;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    padding-left: 14px;

}

.card-title span {
    color: gray;
    font-size: 14px;
    line-height: 2px;
}

.card-footer {
    display: flex;
    justify-content: space-evenly;
}
.card-footer button a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.card-footer button {
    outline-color: red;
    border-radius: 6px;
    padding: 10px;
}

.card-footer button:hover a {
    color: white;
}

.yazi {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 100px;
    left: 250px;
    bottom: 420px;
}

.yazi .circle {
    display: flex;
    flex-direction: row;
}

.yazi .circle div {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    margin-left: 4px;
    margin-top: 230px;
    transition: .8s;
}
.yazi .circle div:hover { 
    transform: scale(1.2);
}
.blue {
    background-color: blue;
}
.silver {
    background-color: silver;
}
.gold {
    background-color: gold;
}
.black {
    background-color: black;
}

.button {
    width: 100%;
    margin-top: 90px;
}

.modal-body h6 {
    margin-left: 120px;
}

.modal-body button {
    background-color: red;
    margin-left: 180px;
    border-radius: 9px;
}

.modal-body button h5 {
    color: white;
    padding: 4px;
    margin-top: 3px;
} 


.image img {
    width: 480px;
}
.karusel {
    background-color: transparent;
    margin: auto;
}

.karusel .caraousel-item img {
    width: 500px;
    height: 500px;
}

marquee img {
    height: 150px;
    width: 200px;
}

footer {
    display: flex;
    padding: 10px;
    margin: auto;
}



footer .bottom {
    padding: 22px
}

footer .license span {
    margin-right: 25px;
    font-weight: bold;
    text-align: center;
}

footer .bottom .social {
    display: flex;
}

.social i {
    font-size: 20px;
    margin-left: 6px;
    margin-top: 4px;
    transition: .5s;
}

.social i:hover {
    transform: scale(1.1);
}

 @media screen and (max-width: 768px) {
 
    .modal-body .image img {
        width: 400px; 
    }

    .modal-body button {
        background-color: red;
        margin-left: 130px;
        border-radius: 9px;
    }
    
    .modal-body button h5 {
        color: white;
        padding: 4px;
        margin-top: 3px;
    } 
 }
  